#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

.PHONY: override_dh_strip override_dh_installinit override_dh_auto_build

%:
	dh $@ --with python2

override_dh_strip:
	dh_strip -plibxseg0 --dbg-package=libxseg0-dbg

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_auto_build -- build
